.heading-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.heading {
  color: black;
  font-size: 30px;
  font-weight: bold;
}

.separator {
  height: 0.5px;
  background-color: gray;
  border: none;
  margin-top: 1rem;
}
