.seminar-container {
  padding: 1rem;
}

.seminar-form {
}

.seminar-paper {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.form-container {
  display: flex;
}

.form-paper {
  padding: 0.8rem;
  height: fit-content;
}

.miniform {
  display: flex;
  flex-direction: row;
}

.form-label {
  display: flex;
  gap: 3rem;
  flex-direction: column;
  margin-right: 2rem;
  align-self: center;
}

.form-input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
